.record-submit{
    margin-top: 10px
}

.padding-2 {
    padding: 2%;
}

.no-detail-button {
    background-color: #dad0c4;
	color: inherit;
	padding: 1%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.no-detail-button:hover{
    background-color: #e1d9d0;
}

.player-card {
    padding: 3%;
    align-items: center;
    margin-bottom: 3%;
}