@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  --bs-gutter-x: 0 !important;
}

body  {
  background-color: #F5f3ed !important;
}
/* .vh-96 {
  height:96vh !important;
} */

@media screen and (max-width:475px) {
  /* .vh-96 {
    height: 90vh !important;
  } */
 
}
